/* stylelint-disable selector-max-id */

:root {
  --red: red;
  --blue: blue;
  --transformation: 100px;
}

#qunit-fixture {
  position: static;
}

#test-element {
  position: absolute;
  background-color: var(--blue);
  width: 100px;
  height: 100px;
  transition-property: margin-left, transform;
  transition-duration: 500ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

#test-child {
  position: absolute;
  background-color: var(--red);
  width: 50px;
  height: 50px;
  transition-property: margin-left, transform;
  transition-duration: 250ms;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.animate {
  animation-name: move-right, move-down;
}

.transition {
  margin-left: var(--transformation);
  transform: translateY(var(--transformation));
}

@keyframes move-right {
  from {
    margin-left: 0;
  }

  to {
    margin-left: var(--transformation);
  }
}

@keyframes move-down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(var(--transformation));
  }
}
